[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
tldextract = "*"
unidecode = "*"
justext = "*"
pybloom = {git = "git+https://github.com/jaybaird/python-bloomfilter/"}
pandas = "*"
openpyxl = "*"
openai = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
